@charset "utf-8";


@font-face {
   font-family: Speeder;
   src: url(maxi_l_s.woff) format('woff'), 
        url(maxi_l_s.ttf) format('truetype');
}
/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 1

   Marlin Internet General Style Sheet
  
   Filename:         mi_styles.css

*/


/* HTML and Body styles */

html {
   background-image: url("header.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   font-family: Verdana, Geneva, sans-serif;
   height: 100%;
   width: 100%;

}

body {
   background-color: #95adbf;
   box-shadow: rgb(51, 51, 51) -10px 0px 40px;
   border: 1px solid red;
   padding-bottom: 10px;
   margin: 6% auto;
   text-align: center;
   min-width: 460px;
   max-width: 1024px;  
}


/* Header styles */

header {
}

/* Navigation list styles */

header nav ul {
}

header nav ul li {  
}

header nav ul li a {
}

header nav ul li a:hover {
}

a#navicon {
   display: none;
}

/* Article Styles */

article {
   margin: auto;
   width: 70%;
   height: 50%;
}

article h1 {
   color: rgb(33, 88, 132);   
   font-family: Speeder;
   font-weight: bold;
   font-size: 1.3em;
   letter-spacing: 0.03em;
   line-height: 1.0em;
   margin-top: 10px;
   margin-bottom: 5px;
   text-decoration: underline;
}

article p {
   font-size: 1.0em;
   line-height: 1.0em;
   font-weight: bold;
   margin-bottom: 30px;
}

article table a {
	text-decoration: none;
}

article table a:hover {
	color: red;
}

article thead {
   font-size: 1.2em;
   line-height: 1.5;
   margin-bottom: 50px;
   text-decoration: underline;
}

article table {
	margin: auto;
}

/* Footer styles */   

footer {
}

footer nav ul {
}

footer nav ul a {}

footer nav ul a:hover {
}

footer img.clipart {
} 

footer::after {
}

/*
   ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/


@media only screen and (max-width: 640px) {

   
   a#navicon {
      display: block;
   }
   
   header nav {
   }
   
   header nav ul {
   }
   
   header nav ul li {
   }
   
   a#navicon:hover+ul, header nav ul:hover {
   }
   
   header img#logoimg {
   }
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {

   
   
   header nav ul {
   }
   
   header nav ul li {
   }
}
